$sides: (
  0: top,
  1: right,
  2: bottom,
  3: left
);

@mixin generatePaddings($property) {
  .u-p {
     &-#{$property} {
      padding: $property !important;
    }
    @for $i from 0 through 3 {
      &-#{str-slice(map-get($sides, $i), 1, 1)-$property} {
        padding-#{map-get($sides, $i)}: $property !important;
      }
    }
  }
}

@mixin generateMargins($property) {
  .u-m {
     &-#{$property} {
      margin: $property !important;
    }
    @for $i from 0 through 3 {
      &-#{str-slice(map-get($sides, $i), 1, 1)-$property} {
        margin-#{map-get($sides, $i)}: $property !important;
      }
    }
  }
}

@mixin generateBorders($name, $size, $type, $color) {
  .u-b {
     &-#{$name} {
      border: $size $type $color !important;
    }
    @for $i from 0 through 3 {
      &-#{str-slice(map-get($sides, $i), 1, 1)-$name} {
        border-#{map-get($sides, $i)}: $size $type $color !important;
      }
    }
  }
}


@mixin generateFontSize($property) {
  .u-fs {
     &-#{$property} {
      font-size: $property !important;
    }
  }
}


@mixin generateColors($name, $property) {
  .u-c {
     &-#{$name} {
      color: $property !important;
    }
  }
  .u-bgc {
     &-#{$name} {
      color: $property !important;
    }
  }
}

@mixin generateWidths($property) {
  .u-w-#{$property} {
    width: $property !important;
  }
  .u-max-w-#{$property} {
    max-width: $property !important;
  }
  .u-min-w-#{$property} {
    min-width: $property !important;
  }
}

@mixin generateHeights($property) {
  .u-h-#{$property} {
    width: $property !important;
  }
  .u-max-h-#{$property} {
    max-width: $property !important;
  }
  .u-min-h-#{$property} {
    min-width: $property !important;
  }
}

