@import './reset.scss';
@import './utils.scss';
@import './layout.scss';
@import './link.scss';

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


.card {
  background: #fff;
  font-size: 13px;
  padding: 16px;
  transition: box-shadow 150ms;
}

.card:hover {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.24);
}
