@import './mixins.scss';

// Borders
@include generateBorders(default, 1px, solid, rgba(0, 0, 0, 0.2));

// Colors
@include generateColors(white, #fff);
@include generateColors(default-text, #222);
@include generateColors(hyperlink, #0087ff);
@include generateColors(hyperlink-dark, #0052cc);

// Fonts
@include generateFontSize(13px);
@include generateFontSize(16px);

@include generateWidths(800px);
@include generateWidths(100vw);
@include generateWidths(90vw);

@include generateHeights(100vh);

// Paddings, margins, z-indexses
@for $i from 1 through 4 {
    @include generatePaddings(4px * $i);
    @include generateMargins(4px * $i);
    @include generateZIndex($i)
}

.u-pointer {
    cursor: pointer;
}

.u-ww-bw {
    word-wrap: break-word;
}

.u-mbm-difference {
    mix-blend-mode: difference;
}

.u-b-white {
    background-color: white;
}
